body{
    width: 1000px;
    height: auto;
    margin: auto;
    background-color: #ff9933;
    color: #d9d9d9;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;

}

li {
    display: inline;
    float: right;
    padding: 15px;
}

a:link{
    text-decoration: none;
    color: #d9d9d9;
    padding: 15px;
    font-family: "monospace";
    font-size: 25px;
    font-weight: bolder;
}

a:hover{
    background-color: #cc2900;
    border-radius: 20px;
}

img.logo {
    max-width: 75px;
    max-height: auto;
}

h1.facts {
    text-align: center;
    font-size: 56px;
    font-family: "monospace";
    font-weight: bolder;
}

.text {
    max-width: 500px;
    max-height: auto;
    float: left;
    font-size: 24px;
    font-weight: bolder;
}

img.chi{
    max-width: 300px;
    max-height: auto;
    border:#d9d9d9 double 10px;
    border-radius: 25px;
    margin: 0 50px;
}

.breeds{
    padding-top: 20px;
    text-align: center;
    position: relative;
    clear: both;
    font-size: 56px;
    font-family: "monospace";
    font-weight: bolder;
    background-color: #ffcc00;
    margin-bottom: 0;
    color: #b3b3b3;
}

div.chickies{
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 90px;
    margin: 0 100px;
}

.chickies img{
    width: 200px;
    height: auto;
    border-style: double;
    border-width: 10px;
    border-radius: 25px;
}

.caption{ 
    width: 200px;
    height: auto;
    display: block;
    font-size: 24px;
    font-family: "monospace";
    color: #b3b3b3;

}
.contact{
    text-align: center;
    clear: both;
    position: relative;
    top: 30px;
    font-size: 56px;
    color: #d9d9d9;
    font-family: "monospace";
    font-weight: bolder;
    margin-top: 0;
}

.section-two{
    margin-top: 0;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #ffcc00;
}

.jokes {
    text-align: center;
    font-size: 56px;
    color: #d9d9d9;
    font-family: "monospace";
    font-weight: bolder;
    margin-top: 20px;
    margin-bottom: 20px;

}

.section-three li{
    font-size: 24px;
    height: auto;
    float: left;
    margin: auto;
    width: 100%;
    text-align: center;
}

h1.memes{
    clear: both;
    text-align: center;
    margin: auto;
    font-size: 56px;
    background-color: #ffcc00;
    color: #b3b3b3;
    font-family: "monospace";
    font-weight: bolder;
    position: relative;
    top: 20px;
    padding-top: 20px;
}

.container{
    clear: both;
    height: 300px;
    background-color: #ffcc00;
}

button{
    font-size: 40px;
    padding: 20px;
    border: #ff9933 double 10px;
    border-radius: 12px;
    display: inline-block;
    position: relative;
    left: 32%;
    top: 75px;

}

button .two {
    display: none;
}

button:hover .one{
    display: none;

}

button:hover .two{
    display: inline;
}
footer{
    color: #d9d9d9;
    font-family: "monospace";
    font-size: 18px;
    clear: both;
    position: relative;
    text-align: center;
}